{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <section class="section" id="app" style="margin: 0 auto; width: 75%">
        <div class="field">
            <label for="">Start Line</label>
            <input class="input" type="number" v-model="start_line" placeholder="Start Line">
        </div>
        <div class="field">
            <label for="">End Line</label>
            <input class="input" type="number" v-model="end_line" placeholder="End Line">
        </div>
        <div class="field">
            <input type="file"
                ref="files"
                @change="handleUpload()">
        </div>
        <div class="field">
            <input class="input" type="text" v-model="name" placeholder="Name">
        </div>
        <div class="field">
            <input class="input" type="number" v-model="position" placeholder="Position">
        </div>
        <div class="field">
            <div class="select">
                <select v-model="data_type">
                    <option value="str">Data Type</option>
                    <option value="str">str</option>
                    <option value="int">int</option>
                </select>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" v-model="required"> Is Required?
            </label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <button type="button" class="button is-link" @click="add">Add</button>&nbsp;&nbsp;
                    <button type="button" class="button is-success" @click="send">Send</button>
                </div>
            </div>
        </div>

        <div class="table-container">
            <table class="table" style="width: 100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Data Type</th>
                        <th>Is Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in fields">
                        <td>{{ "item.name" | vue }}</td>
                        <td>{{ "item.position" | vue }}</td>
                        <td>{{ "item.data_type" | vue }}</td>
                        <td>{{ "item.required" | vue }}</td>
                        <td>
                            <button class="button is-danger" @click="remove(item.name)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

         <div class="table-container">
            <table class="table" style="width: 100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Data Type</th>
                        <th>Value</th>
                        <th>Has Error</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in results">
                        <td>{{ "item.name" | vue }}</td>
                        <td>{{ "item.position" | vue }}</td>
                         <td>{{ "item.data_type" | vue }}</td>
                        <td>{{ "item.value" | vue }}</td>
                        <td>{{ "item.has_error" | vue }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='vendor/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}