<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - TXT-Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma.css') }}">
</head>
<body>
<section class="section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>
{% block javascript %}{% endblock %}
</body>
</html>